<nav class="country-nav">
    <a class="usa" href="/usa/blog/politics">usa</a>
    <a class="uk" href="/uk/blog/politics">uk</a>
    <a class="ca" href="/ca/blog/politics">ca</a>
    <a class="au" href="/au/blog/politics">au</a>
</nav>