<header class="public">
    <i id="goBack" class="fa-solid fa-chevron-left"></i>
    <h3>knoweekly</h3>
    <nav>
        <i id="HeaderNav" class="fa-solid fa-bars"></i>

        <div id="navDropDown">
 
           <section class="links">
           <a href="/about/us">about</a>
           <a href="/contact/us">contact</a>
           <a href="/terms/conditions">terms & conditions</a>
           <a href="/privacy/policy">privacy policy</a>
           </section>

        </div>
    </nav>
    
</header>