<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/admin-header.ejs") %>
    <main class="admin-home">
        <h1>admin</h1>

        <nav>
            <a href="/create/admin">create account</a>
            <a href="/login/admin">login</a>
        </nav>
    </main>
    
    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
</body>
</html>