<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main class="home">
        <h1>weekly news</h1>
        <h3>select a country</h3>
        <%- include("partials/country-nav.ejs") %>
    </main>

    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
</body>
</html>